configuration {
	modi: "window,drun,ssh,combi";
	icon-theme: "Papirus-Dark";
	show-icons: true;
	font: "Liberation Sans Regular 11";
	combi-modi: "window,drun,ssh,drun";
	width: 15;
	lines: 0;
 }

@theme "~/.config/rofi/themes/theme.rasi"
